<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SosDvlpr</title>
</head>
<body>
    <h1>SosDvlpr.</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
             <li class="{{message.tag}}">
                 {{ message|safe }}
                 <a href="#" class="close">X</a>
             </li>
             {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <h1> <p>Hello {{ user.username }}!</p></h1>
    <p> Thanks for logging in.</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'login' %}">login</a> .</p>
{% endif %}
</body>
</html>