{% extends 'base.html' %}

  {% block content%}
    <div class="container p-4">
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                  <div class="row">
                      <div class="p-1">
                        <div class="vl">
                          <span class="vl-innertext">or</span>
                      </div>
                    </div>
                    <div class="col">
                      <a href="{% url 'social:begin' 'facebook' %}" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                      </a>
                      <a href="{% url 'social:begin' 'twitter' %}" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                      </a>
                      <a href="{% url 'social:begin' 'github' %}" class="github btn">
                        <i class="fa fa-github fa-fw"></i> Login with GitHub
                      </a>
                    </div>
              
                    <div class="col">
                      <div class="hide-md-lg">
                        <p>Or sign in manually:</p>
                      </div>
              
                      
                  {% if next %}
                      {% if user.is_authenticated %}
                      <p>Your account doesn't have access to this page. To proceed,
                      please login with an account that has access.</p>
                      {% else %}
                      <p>Please login to see this page.</p>
                      {% endif %}
                  {% endif %}
                  
                  
                  

                  {{form}}

                  <input type="submit" value="login" />
                  <input type="hidden" name="next" value="{{ next }}" />
                 
                          </div>
                    
                        </div>
                      </form>
              </div>
              
              <div class="bottom-container">
                <div class="row">
                  <div class="col">
                    <a href="{% url 'register' %}" style="color:white" class="btn">Sign up</a>
                  </div>
                  <div class="col">
                    <a href="{% url 'password_reset' %}" style="color:white" class="btn">Forgot password?</a>
                  </div>
                </div>
              </div>

            
{% endblock content%}