{% extends "base.html" %}

{% block title %}
 Welcome to SosDvlpr.
{% endblock title %}    
    

{% block content %}


<div class="jumbotron">
        <div class="col-md-6 px-0">
          <h2>Become Better Developers Together</h2>
          <p class="lead">
                  Share insights, exchange ideas, and learn from fellow developers
                  
                  </p>
          <p class="lead btn btn-primary"><a href="#" class="text-white">JOIN THE COMMUNITY</a></p>
        </div>
      </div>

<div class="container">
  
      </div>
  
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4  border-bottom">
              Threads
            </h3>

            <div class="p-3">
                    <div class="card text-center w-100">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </div>

            </div>
            <div class="p-3">
                    <div class="card text-center w-100">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </div>

            </div>
            <div class="p-3">
                    <div class="card text-center w-100">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </div>

            </div>
            <div class="p-3">
                    <div class="card text-center w-100">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </div>

            </div>
            <div class="p-3">
                    <div class="card w-100">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </div>

            </div>
            <!-- end threads -->
            
                <br>
            <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            
          </div><!-- /.blog-main -->
  
          <aside class="col-md-4 blog-sidebar">
  
            <div class="p-3">
                    <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">JOIN THE COMMUNITY
                                    </h5>
                              <p class="card-text">Share insights and exchange ideas</p>
                              <ul>
                                  <li>

                                  </li>
                              </ul>

                              <a href="#" class="btn btn-primary">SIGN UP NOW</a>
                            </div>
                </div>
            </div>
            

            <div class="p-3">
                    <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">Trending</div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                    </div>
            </div>
            <div class="p-3">
                    <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <a href="#" class="btn btn-primary">Developers</a>
                              <a href="#" class="btn btn-primary">Communities</a>
                            </div>
                    </div>
            </div>
          </aside><!-- /.sidebar -->
  
        </div><!-- /.row -->
  
      </main><!-- /.container -->
  
      <footer>
          <div class="banner">

          </div>
          <div class="container">
            <hr>
            <p class"pull-left">&copy; Copyright 2018 SosDvlpr.</p>
            <p class="pull-right">
                <ul >
                    <li>Privacy Policy</li>
                    <li>Support</li>
                    <li>Terms Of Service</li>
                    <li> <i class="fa fa-facebook"></i></li>
                    <li> <i class="fa fa-twitter"></i></li>
                    <li> <i class="fa fa-github"></i></li>
                </ul>
            </p>
        </div>
      </footer>
  
{% endblock content %}
